@charset "UTF-8" ;

.content-box{
  margin-right: auto;
  margin-left : auto;
  height:100px; 
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

content-bar{
  flex-grow:1;
  flex-basis:300px;
  border-width: 1;
  min-height: 960px;
  height:99%; 
  flex-direction: column;
  overflow: scroll;
}

.map-embed{
  flex-grow:6;
  flex-basis:400px;
  height:99%;
  min-height: 480px;
  width:1200px;
}

*スライダーのための追加*/
.js-slider{
  position:relative;
  width:300px;
  height:20px;
}
.js-slider div{
  background:#ddd;
  height:3px;
  border:1px inset #aaa;
  position:relative;
  top:12px;
  font-size:0px;
}
.js-slider input{
  position:absolute;
  width:15px;
  height:20px;
  display:block;
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0px;
    border-bottom: 1px solid #000;
    display: flex;
}

.header_left_item {
    margin-right: auto;
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
    color: white;
}

.list-left{
  float: left;
  width:80px;
  padding: 5px;
  text-align: left;
}

.list-input{
  float: left;
  width:120px;
  padding: 5px;
  text-align: left;
}

.list-text{
  width:96px;
  padding: 5px;
}


.list-madori_number{
  float: left;
  width:50px;
  margin-right:10px;
  padding: 5px;
}

.list-madori_type{
  float: left;
  width:70px;
  margin-right:10px;
  padding: 5px;
}

.tag{
  text-align: center;
  vertical-align: center;
  font-size: 20px;
  height: 29px;
  width: 20px;
  margin-right: 5px;

}

.bukken{
  flex-direction: row;
  min-height:150px;
  
}

.image{
  min-width:100px;
  float: left;
  min-height:100px;
  background-color: green;
  padding: 2px;
  margin: 2px;
}

.content-text{
   margin:5px;
   padding:5px;
   /*
   min-width:110px;
   
   */
   min-height:110px;
   font-size: 12px;
   border-width:2px;
   border-color: black;
}

.tatemono-name{
  text-align: csenter;
  font-size: 12px;
  padding: 2px;
  margin-bottom: 3px;
  border-width:2px;
  border-color: black;
}

.tatemono{
  /*min-width:300px;*/
  margin:10px;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  margin-bottom: 3px;
  border: solid;
  border-width:1px;
}

.checkbox{
  width: 50px;
  font-size: 12px;
}

.list-checkbox{
  float: left;
  width:160px;
  padding: 5px;
  text-align: left;
}

#wrap{
    width:1500px;
    margin-top:0px;
}

#slidebar{
    margin-top:10px;
    margin-bottom:40px;
    width:200px;
    display: inline-flex;
}

#bukkeninfo{
    height: 70px;
    width: 400px;
    background-color:black;
}

#volumeSlider .slider-selection {
    background: #BABABA;
}