@charset "UTF-8" ;

.content-box{
  margin-right: auto;
  margin-left : auto;
  height:100vh; 
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

.search-bar{
  flex-direction: column;
  flex: 1 0 260px;
  /*width:260px;*/
  height:99%; 
  min-height: 960px;
  float: left;
  overflow: scroll;
}

.content-bar{
  flex: 1 0 300px;
  /*
  flex-grow:1;
  flex-basis:300px;
  */
  border-width: 1;
  min-height: 960px;
  height:99%; 
  flex-direction: column;
  overflow: scroll;
}
.map-embed{
  flex: 20 1 auto;
  /*
  flex-grow:6; 
  flex-basis:400px;
  */
  height:99%; 
  min-height: 960px;
}

.list-left{
  float: left;
  width:80px;
  padding: 5px;
  text-align: left;
}

.list-input{
  float: left;
  width:120px;
  padding: 5px;
  text-align: left;
}

.list-text{
  width:96px;
  padding: 5px;
}


.list-madori_number{
  float: left;
  width:50px;
  margin-right:10px;
  padding: 5px;
}

.list-madori_type{
  float: left;
  width:70px;
  margin-right:10px;
  padding: 5px;
}

.search-item{
  width: 300px;
  float:left;
  padding: 5px;
}

.search-button{
  align:right;
}

.tag{
  text-align: center;
  vertical-align: center;
  font-size: 20px;
  height: 29px;
  width: 20px;
  margin-right: 5px;

}

.bukken{
  flex-direction: row;
  min-height:150px;
  
}

.image{
  min-width:100px;
  float: left;
  min-height:100px;
  background-color: green;
  padding: 2px;
  margin: 2px;
}

.content-text{
   margin:5px;
   padding:5px;
   /*
   min-width:110px;
   
   */
   min-height:110px;
   font-size: 12px;
   border-width:2px;
   border-color: black;
}

.tatemono-name{
  text-align: center;
  font-size: 12px;
  padding: 2px;
  margin-bottom: 3px;
  border-width:2px;
  border-color: black;
}

.tatemono{
  /*min-width:300px;*/
  margin:10px;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  margin-bottom: 3px;
  border: solid;
  border-width:1px;
}

.checkbox{
  width: 50px;
  font-size: 12px;

}

.list-checkbox{

  float: left;
  width:160px;
  padding: 5px;
  text-align: left;

}